In [48]:
import pandas as pd

In [49]:
position_option = pd.read_csv('./data/position_option.csv').drop_duplicates()
position_option = position_option[["time", "symbol", "contractRight", "lastTradeDateOrContractMonth", "strike", "delta", "position"]]

In [50]:
# get the latest record with unique symbol secType contractRight lastTradeDateOrContractMonth strike

comparator = position_option.groupby(["symbol", "contractRight", "lastTradeDateOrContractMonth", "strike"]).agg({'time': 'max'}).reset_index()

# get the delta of the latest record with unique symbol secType contractRight lastTradeDateOrContractMonth strike

order_calculator = position_option.merge(comparator, on=['symbol', "contractRight",'time'], how='inner')

# sum the delta of same symbol

order_calculator.groupby(['symbol']).agg({'delta': 'sum'}).reset_index().to_dict('records')

[{'symbol': 'AAPL', 'delta': 0.6403355732748666},
 {'symbol': 'NFLX', 'delta': -0.014959560902901958}]

In [51]:
order_calculator

,time,symbol,contractRight,lastTradeDateOrContractMonth_x,strike_x,delta,position,lastTradeDateOrContractMonth_y,strike_y
0,2023-10-04 11:30:46,AAPL,C,20231020,170.0,0.640336,-1.0,20231020,170.0
1,2023-10-04 11:30:47,NFLX,C,20231020,382.5,0.493406,0.0,20231020,382.5
2,2023-10-04 11:30:48,NFLX,P,20231020,382.5,-0.508365,-2.0,20231020,382.5

In [52]:
comparator

,symbol,contractRight,lastTradeDateOrContractMonth,strike,time
0,AAPL,C,20231020,170.0,2023-10-04 11:30:46
1,NFLX,C,20231020,382.5,2023-10-04 11:30:47
2,NFLX,P,20231020,382.5,2023-10-04 11:30:48

In [53]:
position_option

,time,symbol,contractRight,lastTradeDateOrContractMonth,strike,delta,position
0,2023-10-04 11:30:46,AAPL,C,20231020,170.0,0.640336,-1.0
1,2023-10-04 11:30:47,NFLX,C,20231020,382.5,0.493406,0.0
2,2023-10-04 11:30:48,NFLX,P,20231020,382.5,-0.508365,-2.0

In [54]:
position_option["idealPosition"] = round(position_option["position"] * position_option["delta"] * 100)
position_option

,time,symbol,contractRight,lastTradeDateOrContractMonth,strike,delta,position,idealPosition
0,2023-10-04 11:30:46,AAPL,C,20231020,170.0,0.640336,-1.0,-64.0
1,2023-10-04 11:30:47,NFLX,C,20231020,382.5,0.493406,0.0,0.0
2,2023-10-04 11:30:48,NFLX,P,20231020,382.5,-0.508365,-2.0,102.0